body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 11px;
    padding: 15px;
    margin: 0;
}

.about-container {
    max-width: 350px;
    text-align: justify 
}

.back-button {
    position: absolute;
    bottom: 20px; /* Distance from the bottom */
    padding: 5px 7px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 11px; /* Smaller font size */
}

.back-button:hover {
    background-color: #f0f0f0;
    color: black;
}

a {
    text-decoration:none;
    color: black;
 }

 p{
    margin: 0;
 }