body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

.about-button {
    position: absolute; 
    top: 15px; /* Distance from the top */
    right: 20px; 
    padding: 5px 10px; /* Padding for the button */
    /* border: 1px solid black; */
    border: 0.9px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: black;
    font-family: 'IBM Plex Mono', monospace; /* Same typeface */
    font-size: 11px; 
    color: #f0f0f0;
}

.about-button:hover {
    /* background-color: #f0f0f0; Hover effect */
}


.filter-buttons {
    margin-bottom: 20px;
    display: flex;
    text-transform: uppercase;
    flex-direction: row; /* Horizontal alignment of buttons */
}


h1{
    font-size: 12px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: left;
    /* padding-top: 15px; */
    padding-left: 15px;
    padding-right: 15px;
}

h5{
    font-size: 9px; 
    color: grey;
    text-align: left;
    font-weight: lighter;
    padding-left: 15px;
    padding-right: 15px;
}

.filter-button {
    padding: 5px 7px;
    margin: 0 5px; /* Margin between buttons */
    border: 0.9px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    font-family: 'IBM Plex Mono', monospace; /* Same typeface */
    font-size: 10px; /* Smaller font size */
    color: white;
}

/* .filter-button:hover {
    background-color: #f0f0f0;
} */

.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-content: space-between; /* This helps with spacing */
}

p{
    font-size: 11px;
    color: grey;
    padding-top: 15px;
    font-weight: lighter;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: transform 0s, border 0s;
    position: relative; /* Added for z-index */
    overflow: hidden; 
    background-color: rgb(0, 0, 0);
}

.grid-item:hover {
    border: 0.9px solid rgb(255, 255, 255); /* Black border on hover */
    transform: scale(1.25); /* Increase size by 25% */
    overflow: hidden; /* Hide any overflow due to scaling */
    z-index: 1; /* Bring hovered item to the front */
}

.grid-item img {
    max-width: 75%;
    /* height: auto; */
    height: auto;
    padding-top: 10px;
}

.grid-item p {
    text-align: center;
    margin: 0; 
    transition: none;
    transform: scale(1); 
    font-size: 9px; 
}

.text-container {
    position: absolute; /* Positioning relative to grid-item */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%) scale(1); 
    pointer-events: none; /* Ignore mouse events */
}

a {
    text-decoration:none;
 }


 * {
    box-sizing: border-box; /* Ensure padding and border do not affect element's width and height */
}

.image {
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

